{% extends 'base.html' %} 
{% block content %}
{% if object %}
<h1><b>Edit <em>{{object.name}}</em></b></h1>
{% else %}
<h1><b>Add Tea</b></h1>
{% endif %}
<div
  style="
    display: flex;
    flex-direction: column;
    background-color: #efe4d4;
    box-shadow: 0 0 15px 5px #151618;
    margin: 1rem;
    padding: 0.5rem;
    justify-content: center;
  "
>
  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input
      type="submit"
      value="Submit!"
      class="btn btn-dark submit"
      style="background-color: #556b2f"
    />
  </form>
</div>
{% endblock %}
