{% extends 'base.html' %} {% block content %} {%load static%}
<h1 style="text-align: center"><b>Coffee List</b></h1>
{% for coffee in coffees %}
<a href="{% url 'coffees_detail' coffee.id %}">
  <div class="card cardStyle">
    <h5 class="card-header"><b>{{coffee.name}}</b></h5>
    <div class="card-body">
      <p><b>Blend:</b> {{ coffee.blend }}</p>
      <p><b>Roast:</b> {{ coffee.roast }}</p>
      <p><b>Description:</b> {{ coffee.description }}</p>
      <p><b>Strength:</b> {{coffee.strength}}</p>
      {% if coffee.servings <= 5 %}
      <p style="color: rgb(230, 53, 33)">
        <b>Servings:</b> {{ coffee.servings }} servings - Restock Needed
      </p>
      {% else %}
      <p><b>Servings:</b> {{ coffee.servings }} servings</p>
      {% endif %}
      <p><b>Full Bag:</b> {{ coffee.servPerBag }} servings</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn detailEdit">Brew</a>
      <a href="#" class="btn detailDelete">Restock</a>
    </div>
  </div>
</a>
{% endfor %} {% endblock %}
