{% extends 'base.html' %} {% block content %}
{% for tea in teas %}

<div
  class="card"
  style= 
  "
    background-color: #efe4d4;
    box-shadow: 0 0 20px 5px #151618;
    margin: 1rem;
    padding: .5rem;
  "
>
  <a href="/teas/{{ tea.id }}"
    <div class="card-content">
      <span class="card-title"><b>{{ tea.name }}</b></span>
      <p><b>Variety:</b> {{ tea.variety }}</p>
      <p><b>Description:</b> {{ tea.description }}</p>
      <p><b>Strength:</b> {{tea.strength}}</p>
      {% if tea.quantity <= 5 %}
      <p style="color: red">Quantity: {{ tea.quantity }}</p>
      {% else %}
      <p><b>Quantity:</b> {{ tea.quantity }} - Restock Needed</p>
      {% endif %}
      <p><b>Full Box:</b> {{ tea.quantPerBox }}</p>
    </div>
  </a>
</div>
{% endfor %}
{% endblock %}
