{% extends 'base.html' %} {% block content %} {%load static%}
<h1 style="text-align: center"><b>Tea List</b></h1>
{% for tea in teas %}
<a href="{% url 'teas_detail' tea.id %}">
  <div class="card cardStyle">
    <h5 class="card-header"><b>{{tea.name}}</b></h5>
    <div class="card-body">
      <p><b>Variety:</b> {{ tea.variety }}</p>
      <p><b>Description:</b> {{ tea.description }}</p>
      <p><b>Strength:</b> {{tea.strength}}/5</p>
      {% if tea.quantity <= 5 %}
      <p style="color: rgb(230, 53, 33)">
        <b>Quantity:</b> {{ tea.quantity }} - Restock Needed
      </p>
      {% else %}
      <p><b>Quantity:</b> {{ tea.quantity }}</p>
      {% endif %}
      <p><b>Full Box:</b> {{ tea.quantPerBox }}</p>
    </div>
    <div class="card-footer">
      <div class='formDiv'>
        <form action="{% url 'teas_brew' tea.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn detailEdit">
            Brew
          </button>
        </form>
        <form action="{% url 'teas_restock' tea.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn detailDelete idxRestockBtn" >
            Restock
          </button>
        </form>
      </div>
    </div>
  </div>
</a>
{% endfor %} {% endblock %}
